<div class="container">
  <div class="animated slideInLeft faster">
      
      <h3>Taxi Tracker App</h3>

      <p>
        This Application shows in <strong>real time</strong> those Users connected on
        the <strong>Mobile App</strong>, Taxi Tracker.
      </p>

      <p>
        Tap an User to follow his location in <strong>real time</strong>. You will notice the
        Taxi icon turns <span class="text-red">Red</span> and starts moving.
      </p>

      <p>
        Tab the same User again to lose the track of him. The icon will turn to it's normal state.
      </p>

      <p>
        Have fun!
      </p>
      
      <div class="center">
          <button class="btn orange" (click)="goBack()">
              GO BACK
          </button>
      </div> 
        
  </div>
</div>